/*Global elements*/
* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

/*Style header*/
.header {
    background-color: rgb(225, 225, 225);
    text-align: center;
    padding: 20px;
}

/*Style navigation bar*/
nav {
    background-color: rgb(163, 255, 176);
}

/*Style the footer*/
.footer {
    background-color: rgb(202, 202, 202);
    padding: 10px;
    text-align: center;
}