/*Global elements*/
* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

/*Style header*/
.header {
    background-color: rgb(225, 225, 225);
    text-align: center;
    padding: 20px;
}

/*Style navigation bar*/
nav, .navlink {
    display: flex;
}

nav {
    justify-content: space-around;
    align-items: center;
    height: 17vh;
}

.navlink {
    gap: 2rem;
    list-style: none;
    font-size: 1.5rem;
}

a {
    color: black;
    text-decoration: none;
    text-decoration-color: white;
}

a:hover {
    color: gray;
    text-decoration: underline;
    text-underline-offset: 1.5rem;
    text-decoration-color: rgb(181,181,181);
}

.logo {
    font-size: 2rem;
}

/*Style the footer*/
.footer {
    background-color: rgb(202, 202, 202);
    padding: 10px;
    text-align: center;
}