:root {
    --primary-color: #e63946;
    --secondary-color: #1d3557;
    --background-color: #f1faee;
    --text-color: #1d3557;
    --link-color: #457b9d;
    --button-color: #e63946;
    --button-text-color: #fff;
    --header-footer-background: #1d3557;
    --header-footer-text: #fff;
    --highlight-color: #a8dadc;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
    color: var(--text-color);
}

header {
    background-color: var(--header-footer-background);
    color: var(--header-footer-text);
    text-align: center;
    padding: 1em 0;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: var(--header-footer-text);
    text-decoration: none;
}

#hero {
    background: url(-/-.jpg) no-repeat center center/cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-content {
    text-align: center;
    color: fff;
}

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h2 {
    color: var(--primary-color);
}

.project {
    margin-bottom: 20px;
}

footer {
    background-color: var(--header-footer-background);
    color: var(--header-footer-text);
    text-align: center;
    padding: 10px 0;
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    margin: 10px 0 5px;
}

form input, form textarea {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid var(--highlight-color);
    border-radius: 5px;
    background-color: var(--background-color);
    color: var(--text-color);
}

form button {
    padding: 10px;
    background-color: var(--button-color);
    color: var(--button-text-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form button:hover {
    background-color: d62828;
}
